<footer class="footer text-center border-top pt-4 py-3">
  <div class="container-fluid text-center text-md-start">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3 d-flex justify-content-center">
        <div class="menu">
          <h5 class="fw-bold text-uppercase mt-3 mb-4">Menu</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Home Page</a>
            </li>
            <li>
              <a href="/products">Products</a>
            </li>
            <li>
              <a href="/login">Account</a>
            </li>
            <li>
              <a href="/shopping-cart">Cart</a>
            </li>
            <li>
              <a href="#!">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 mt-md-0 mt-3 d-flex justify-content-center">
        <form class="inputGroup">
          <h5 class="fw-bold text-uppercase mt-3 mb-4">
            Newsletter
          </h5>
          <p>
            Subscribe to receive updates, access to exclusive deals, and more.
          </p>
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Your email"
            aria-label="Your email"
          />
          <a class="btn" id="myBtn">Sign up</a>
        </form>
      </div>
    </div>
  </div>

  <div class="py-3">
    © 2023 Copyright:
    <a id="link" href="https://dariacode.dev/"> DariaCode</a>
  </div>
</footer>
