*{
  color: #512715;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-box {
  flex: 1;
  margin-right: 20px;
}

.myBtn{
  color: #00000080;
  cursor: pointer;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 500;
  background-color: rgba(255, 174, 0, 0.25);
  border-radius: 4px;
  white-space: nowrap;
  
  &:hover {
    color: black;
    font-weight: 800;
    background-color: rgba(255, 174, 0, 0.5);
  }
}

input{
  border-color: rgba(255, 174, 0, 0.5);
  border-radius: 4px;
  &:hover, 
  &:active {
    border-color: #ffb000;
    box-shadow: 0px 0px 2px #ffb000;
  }
}

.table-container {
  overflow: auto;
  border-radius: 4px;
}

table {
  width: 100%;
}

.mat-header-cell {
  font-weight: bold;
}

// remove custom blue border on click;
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.form-control:focus{
  border-color: #ffb000;
  box-shadow: 0px 0px 2px #ffb000;
}