/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';

$primary-color-orange: #ffb000;
$primary-color-brown: #512715;

html{
  height: 100%;
}
body {
  padding-top: 80px;
  height: 100%;
}
.root{
  min-height: 100vh;
}